GEMINI_API_KEY=
WEAVIATE_URL=
WEAVIATE_API_KEY=
WEAVIATE_COLLECTION_NAME=
MONGO_URI=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
CLOUDINARY_CLOUD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
